<nz-table #productTable [nzData]="displayProducts">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="code">Code</th>
      <th nzShowSort nzSortKey="description">Description</th>
      <th nzShowSort nzSortKey="price">Price</th>
      <th nzShowSort nzSortKey="active">Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productTable.data">
      <td>{{product.code}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.active}}</td>
    </tr>
  </tbody>
</nz-table>
